@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?5m16x1');
  src:  url('fonts/icomoon.eot?5m16x1#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?5m16x1') format('truetype'),
    url('fonts/icomoon.woff?5m16x1') format('woff'),
    url('fonts/icomoon.svg?5m16x1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linkedin:before {
  content: "\e900";
}
.icon-github:before {
  content: "\e901";
}
.icon-git:before {
  content: "\e902";
}
.icon-node-dot-js:before {
  content: "\e903";
}
.icon-sass:before {
  content: "\e904";
}
.icon-javascript:before {
  content: "\e905";
}
.icon-html:before {
  content: "\e906";
}
.icon-css:before {
  content: "\e907";
}
.icon-tailwindcss:before {
  content: "\e908";
}
.icon-react:before {
  content: "\e909";
}
