@import '../styles/global.scss';

#about {
  display: flex;
  justify-content: center;
  padding-block: clamp(2rem, 3rem, 4rem);
  background-color: rgba($brand_color_jet, .900);

  .about-wrapper {
    @include flex-wrapper;
    flex-direction: column;
    gap: 2rem;
    padding-inline: 2rem;

    img {
      width: 30rem;
    }

    h2 {
      @include title-style;
      text-align: center;
    }

    p {
      @include paragraph-style;
      text-align: center;
    }
  }
}

// MEDIA QUERIES 

@media (min-width: 575px) {}

@media (min-width: 769px) {

  #about {
    height: 80vh;

    .about-wrapper {
      display: flex;
      flex-direction: row;

      .text {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-width: 60rem;
      }


      p {
        text-align: center;
      }
    }
  }
}

@media (min-width: 1280px) {}