@import '../styles/global.scss';

#about {
  display: flex;
  justify-content: center;
  padding-block: clamp(2rem, 3rem, 4rem);
  background-color: rgba($brand_color_jet, .900);

  .about-wrapper {
    @include flex-wrapper;
    flex-direction: column;
    gap: 2rem;
    padding-inline: 2rem;

    img {
      width: 30rem;
    }

    h2 {
      @include title-style;
      text-align: center;
      text-transform: uppercase;
    }

    p {
      @include paragraph-style;
      text-align: center;
    }

  }

}