@import '../styles/global.scss';

#about {
  display: flex;
  justify-content: center;
  padding-block: clamp(6rem, 8rem, 13rem);
  background-color: rgba($brand_color_jet, .900);

  .about-wrapper {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
    gap: 2rem;

    img {
      width: 30rem;
    }

    h2 {
      color: $brand_color_secondary;
      text-align: center;
      font-size: 3.5rem;
      text-transform: uppercase;
    }

    p {
      color: $brand_color_white;
      text-align: center;
      font-size: 1.8rem;
    }

  }

}