// RESETS

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  -webkit-font-smoothing: antialiased;
}

html.sr .load-hidden {
  visibility: hidden;
}

// GENERAL VARIABLES

$border_radius: 1rem;
$text_shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
$small_text_shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);


// COLORS

$brand_color_primary: #323299;
$brand_color_secondary: #7D7DE3;
$brand_color_black: #121214;
$brand_color_jet: #27272B;
$brand_color_jetlight: #2B2727;
$brand_color_white: #FAFAFF;

// FONT CONFIGS

$brand_text_font: 'Montserrat',
sans-serif;
$brand_code_font: 'Roboto Mono',
monospace;

// FONT SIZES

$brand_h1_size: 5rem;
$brand_title_size: 3.5rem;
$brand_subtitle_size: 2.5rem;
$brand_paragraph_size: 1.7rem;

// ROOT CONFIGS
:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: $brand_text_font;
  scroll-behavior: smooth;
}

// PARAGRAPHS & TITLE

p,
a,
button,
span,
strong,
small {
  font-family: $brand_text_font;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $brand_text_font;
}


// CONTAINER 

.container {
  width: 100%;
}

.divider {
  height: 1px;
  position: relative;
  width: 100%;
  background: radial-gradient(ellipse farthest-side at top center, red, transparent);

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    right: 0;
    left: 0;
    height: 3px;
    background: linear-gradient(to right, $brand_color_jet, $brand_color_secondary, $brand_color_primary, $brand_color_black);
  }
}


// MIXINS

@mixin title-style {
  color: $brand_color_secondary;
  text-shadow: $text_shadow;
  font-size: $brand_title_size;
}

@mixin paragraph-style {
  color: $brand_color_white;
  font-size: $brand_paragraph_size;
}

@mixin flex-wrapper {
  display: flex;
  align-items: center;
}

@mixin button-style {
  border-radius: $border_radius;
  background-color: $brand_color_primary;
  padding: 1.5rem;
  color: $brand_color_white;
  cursor: pointer;
  border: none;
  transition: all .4s;

  &:hover {
    filter: brightness(1.2);
    transform: scale(1.1);
  }
}