@import '../styles/global.scss';

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-inline: 3rem;

  background: $brand_color_lightpurple;
  background: linear-gradient(90deg, rgba($brand_color_lightpurple, 1) 0%, rgba($brand_color_purple, 1) 100%);
  border-bottom: solid 2px rgba($brand_color_purple, 0.7);
  width: 100%;
  height: 7rem;
  transition: all .5s;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  .logo {
    fill: $brand_color_white;
    stroke: $brand_color_white;
    transition: .5s;

    &:hover {
      transform: scale(1.1);
    }

    .st0 {
      fill: none;
      stroke-width: 2;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 10;
    }

    .st1 {
      fill: none;
      stroke-width: 2;
      stroke-linejoin: round;
      stroke-miterlimit: 10;
    }
  }

  nav {
    display: flex;
    justify-content: space-between;

    ul {
      display: flex;
      gap: 1rem;

      li {
        padding-block: 2rem;
        border-radius: $border_radius;
        background-color: transparent;
        transition: .5s;

        &:hover {
          background-color: transparentize($color: $brand_color_lightpurple, $amount: .5);
          filter: brightness(1.1);
        }

        a {
          text-shadow: $small_text_shadow;

          padding: 1rem;
          letter-spacing: -0.025rem;
          border-radius: $border_radius;
          color: $brand_color_white;
          transition: .5s;
          text-transform: uppercase;
        }
      }

    }

  }

}

header.scroll {
  background: rgba(196, 196, 196, 0.11);
  backdrop-filter: blur(20px);
  transition: all 5s;

  nav {
    ul {
      li {
        background-color: transparent;

        &:hover {
          color: $brand_color_lightpurple;
        }
      }
    }
  }
}

// MEDIA QUERIES 

@media (min-width: 1200px) {
  header {
    padding-inline: 15rem;


    nav {}
  }


}

//   <ul> //   <li>
//     <a href="#home">Inicío</a>
//   </li>
//   <li>
//     <a href="#about">Sobre Mim</a>
//   </li>
//   <li>
//     <a href="#projects">Meus Projetos</a>
//   </li>
//   <li>
//     <a href="#skills">Skills</a>
//   </li>
//   <li>
//     <a href="#contact">Contato</a>
//   </li>
// </ul>