@import '../styles/global.scss';

@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-fwd {
  0% {
    transform: translateZ(-80px);
    opacity: 0;
  }

  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-inline: 3rem;

  background: linear-gradient(90deg, rgba($brand_color_lightpurple, 1) 0%, rgba($brand_color_purple, 1) 100%);
  border-bottom: solid 2px rgba($brand_color_purple, 0.7);
  width: 100%;
  height: 7rem;
  transition: all .5s;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  .logo {
    fill: $brand_color_white;
    stroke: $brand_color_white;
    transition: .5s;

    &:hover {
      transform: scale(1.1);
    }

    .st0 {
      fill: none;
      stroke-width: 2;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 10;
    }

    .st1 {
      fill: none;
      stroke-width: 2;
      stroke-linejoin: round;
      stroke-miterlimit: 10;
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
  }

}

header.scroll {
  background: rgba(196, 196, 196, 0.11);
  backdrop-filter: blur(20px);
  transition: all 5s;

  nav {
    ul {
      li {
        background-color: transparent;

        &:hover {
          color: $brand_color_lightpurple;
        }
      }
    }
  }
}

.menu {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, rgba($brand_color_lightpurple, 1) 0%, rgba($brand_color_purple, 1) 100%);
  display: none;



  .menu-list {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    ul {
      display: grid;
      gap: 4rem;

      li {
        padding-block: 2rem;
        border-radius: $border_radius;
        background-color: transparent;
        transition: .5s;
        text-align: center;
        font-size: x-large;


        &:hover {
          background-color: transparentize($color: $brand_color_lightpurple, $amount: .5);
          filter: brightness(1.1);
        }

        a {
          text-shadow: $small_text_shadow;

          padding: 1rem;
          letter-spacing: -0.025rem;
          border-radius: $border_radius;
          color: $brand_color_white;
          transition: .5s;
          text-transform: uppercase;
        }
      }

    }
  }
}

.menu-active {
  display: block;
  animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

  .menu-list {
    ul {
      animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

  }
}

.menu-active+.hamburger {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
}

// MEDIA QUERIES 

@media (min-width: 1200px) {
  header {
    padding-inline: 15rem;


    nav {}
  }

}